
<!DOCTYPE html>
<html lang="en">
<head>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-9075045589988569",
    enable_page_level_ads: true
  });
</script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-67374301-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-67374301-1');
</script>
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-P54TH8N');</script>
<!-- End Google Tag Manager -->
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" href="http://marcuscode.com/public/images/m.png">
<title>ตัวแปรและประเภทข้อมูลในภาษา C - MarcusCode</title>
<script>
var met_base_url = 'http://marcuscode.com/';
</script>
<link href="http://marcuscode.com/public/bootstrap-4.4.1-dist/css/bootstrap.min.css" rel="stylesheet">
<link href="http://marcuscode.com/public/blog_template/blog.css" rel="stylesheet">
<link href="http://marcuscode.com/public/css/marcus_blog.css?v=2.1" rel="stylesheet">
<script src="http://marcuscode.com/public/js/popper.min.js"></script>
<script src="http://marcuscode.com/public/js/jquery.min.js"></script>
<script src="http://marcuscode.com/public/bootstrap-4.4.1-dist/js/bootstrap.min.js"></script>
<script src="http://marcuscode.com/public/js/script.js?v=2.1"></script>
<link href="http://marcuscode.com/public/libs/prism/prism.css?v=2.1" rel="stylesheet">
<script src="http://marcuscode.com/public/libs/prism/prism.js?v=2.1"></script>
</head>
<body>

	<div class="blog-post">
		<h1 class="blog-post-title">ตัวแปรและประเภทข้อมูล</h1>
		<p class="blog-post-meta clearfix">June 27, 2015					</p>
		
		<h2>แนะนำตัวแปรในภาษา C</h2>

<p>ในบทเรียนนี้ เราจะพูดเกี่ยวกับตัวแปรในภาษา C ตัวแปรเป็นสถานที่สำหรับเก็บข้อมูลในหน่วยความจำ โดยมีชื่อของตัวแปรเพื่อใช้อ้างถึงข้อมูล (Identifier) ตัวแปรถูกใช้เพื่อเก็บค่า เราสามารถสร้างตัวแปรได้เป็นจำนวนมากโดยมีชื่อที่แตกต่างกัน รูปแบบของการประกาศตัวแปรในภาษา C คือ:</p><div style="margin-bottom: 8px;"><script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script><!-- Top banner --><ins class="adsbygoogle" style="display:inline-block;width:728px;height:90px" data-ad-client="ca-pub-9075045589988569" data-ad-slot="9930841201"></ins> <script>(adsbygoogle = window.adsbygoogle || []).push({});</script></div>

<pre class="code-syntax"><code class="language-syntax">type identifier;
type identifier = value;
</code></pre>

<p><code>type</code> เป็นประเภทของข้อมูลที่จะเก็บในตัวแปร <code>identifier</code> เป็นที่รู้จักกันในในชื่อของตัวแปร เราใช้ชื่อนี้เพื่ออ้างถึงค่าที่ตัวแปรนั้นเก็บอยู่ <code>values</code> เป็นทางเลือกที่คุณสามารถกำหนดค่าให้กับตัวแปรเมื่อมันถูกสร้าง หรือกำหนดในภายหลังได้ มาดูตัวอย่าง</p>

<pre><code class="language-c">int a;
float b;
char c = 'A';
</code></pre>

<p>ในตัวอย่างเรามีตัวแปร 3 ตัว ตัวแรกประเภทของมันคือ <code>int</code> และมีชื่อว่า <code>a</code> มันใช้เพื่อเก็บค่าเลขจำนวนเต็ม (Integer) และเรายังไม่ได้กำหนดค่าใดๆ ให้มัน ดังนั้นค่าเริ่มต้นของตัวแปรเมื่อถูกสร้างขึ้นจะเป็น <code>NULL</code> ตัวแปรที่สองมีประเภทเป็น <code>float</code> ตัวแปรนี้จะถูกใช้เพื่อเก็บค่าของจำนวนจริง และตัวแปรที่สามมีประเภทเป็น <code>char</code> มันถูกใช้เพื่อเก็บสัญลักษณ์หนึ่งตัวใน ASCII code และเรากำหนด <code>'A'</code> เป็นค่าเริ่มต้นให้กับมัน</p>

<h2>ประเภทข้อมูล</h2>

<p>ในภาษา C มีประเภทข้อมูลชนิดต่างๆ ที่ให้เราสามารถใช้เพื่อชนิดการกับข้อมูลต่างประเภทกัน เช่น Boolean, Number, Character และ Object เป็นต้น</p>

<p>ตารางข้างล่างนี้แสดงประเภทข้อมูลทั้งหมดในภาษา C</p>

<table class="table">
<tr><th>Data type</th><th>Size</th><th>Value</th></tr>
<tr><td>char</td><td>1 byte</td><td>-128 to 127</td></tr>
<tr><td>unsigned char</td><td>1 byte</td><td>0 to 255</td></tr>
<tr><td>signed char</td><td>1 byte</td><td>-128 to 127</td></tr>
<tr><td>int</td><td>4 byte</td><td>-2,147,483,648 to 2,147,483,647</td></tr>
<tr><td>unsigned int</td><td>4 byte</td><td>0 to 4,294,967,295</td></tr>
<tr><td>short</td><td>2 byte</td><td>-32,768 to 32,767</td></tr>
<tr><td>unsigned short</td><td>2 byte</td><td>0 to 65,535</td></tr>
<tr><td>long</td><td>4 byte</td><td>-2,147,483,648 to 2,147,483,647</td></tr>
<tr><td>unsigned long</td><td>4 byte</td><td>0 to 4,294,967,295</td></tr>
<tr><td>float</td><td>4 byte</td><td>1.2E-38 to 3.4E+38</td></tr>
<tr><td>double</td><td>8 byte</td><td>2.3E-308 to 1.7E+308</td></tr>
<tr><td>long double</td><td>10 byte</td><td>3.4E-4932 to 1.1E+4932</td></tr>
<tr><td>bool</td><td>1 bit</td><td>0 to 1</td></tr>
</table>

<h2>การประกาศตัวแปร</h2>

<p>ตอนนี้เราจะมาเรียนวิธีการประกาศและกำหนดค่าเริ่มต้นให้กับตัวแปรกับตัวอย่างง่ายๆ</p>

<pre><code class="language-c">#include &lt;stdio.h&gt;

int main()
{
    int a = 5;
    int b;
    b = 10;
    int c = a + b;
    printf("Value of c is %d", c);
    return 0;
}
</code></pre>

<p>ในตัวอย่าง เราได้สร้างตัวแปรสามตัวคือ <code>a</code>, <code>b</code> และ <code>c</code> ที่มีชนิดข้อมูลเป็น <code>int</code> และเรารวมค่าของ <code>a</code> และ <code>b</code> แล้วเก็บไว้ในตัวแปร <code>c</code> ข้างล่างนี้เป็นผลลัพธ์ของโปรแกรม</p>

<pre class="code-result"><code class="language-result">Value of c is 15
</code></pre>

<p>อย่างไรก็ตาม คุณสามารถประกาศชนิดข้อมูลอื่นได้ ซึ่งมันไม่อยากเกินไป มาดูตัวอย่างเพิ่มเติม</p>

<pre><code class="language-c">#include &lt;stdio.h&gt;

int main()
{
    float PI = 3.14;
    int r;
    scanf("Enter circle radius %d", &amp;r);
    double result = 2 * PI * r;
    printf("Area is %f", result );
    return 0;
}
</code></pre>

<p>ในตัวอย่าง แสดงให้คุณเห็นการใช้ตัวแปรประเภทต่างๆ ในภาษา C นั้นมีข้อมูลประเภทต่างๆ ที่ให้เราสามารถจัดการกับข้อมูลที่แตกต่างกันออกไป เช่น ตัวเลขจำนวนเต็ม ตัวเลขจำนวนจริง หรือข้อมูลแบบตัวอักษร ซึ่งข้อมูลแต่ละประเภทมีรูปแบบการใช้งานและขนาดของข้อมูลที่แตกต่างกัน ดังแสดงในตารางก่อนหน้า ต่อไปเราจะอธิบายและแสดงตัวอย่างของการใช้ข้อมูลประเภทต่างๆ ในภาษา C สำหรับเขียนโปรแกรม</p>

<h2>Boolean</h2>

<p>Boolean เป็นประเภทข้อมูลที่มีได้เพียงสองค่าคือจริง <code>true</code> และเท็จ <code>false</code> ซึ่งเป็นประเภทของตัวแปรสำหรับเก็บค่าที่เป็นไปได้เพียงสองค่า เช่น กลางวันและกลางคืน สีขาวและสีดำ ร้อนและหนาว เป็นต้น ข้อมูลประเภทนี้มักจะใช้สำหรับสร้าง Expression สำหรับเงื่อนไขการทำงานของโปรแกรม ในภาษา C ค่าของ Boolean นั้นใช้ <code>1</code> หรือ <code>true</code> สำหรับค่าที่เป็นจริงและ <code>0</code> หรือ <code>false</code> สำหรับค่าที่เป็นเท็จ มาดูตัวอย่างการใช้งาน</p>

<pre><code class="language-c">#include &lt;stdio.h&gt;
#include &lt;stdbool.h&gt;

int main ()
{
    bool gender = 1;
    bool open = 0;

    if (gender)
    {
        printf("This is the boy.\n");
    }
    else
    {
        printf("This is the girl.\n");
    }

    if (open)
    {
        printf("The door is open.\n");
    }
    else
    {
        printf("The door is not open.\n");
    }

    return 0;
}
</code></pre>

<p>ในตัวอย่าง เป็นการใช้งานตัวแปรประเภท Boolean ในภาษา C ในตัวแปร <code>gender</code> เราได้กำหนดตัวแปรให้หมายถึงเพศ ถ้าในตัวแปรนั้นมีค่าเป็นจริงจะหมายถึงเป็นผู้ชาย และถ้ามีค่าเป็นเท็จจะหมายถึงเป็นผู้หญิง และตัวแปร <code>open</code> ใช้สำหรับเก็บสถานะการเปิดและปิดของประตู เมื่อตัวแปรมีค่าเป็นจริงจะหมายถึงประตูถูกเปิดอยู่ และเมื่อค่าในตัวแปรเป็นเท็จก็หมายความว่าประตูนั้นไม่ได้เปิด</p>

<pre class="code-result"><code class="language-result">This is the boy.
The door is not open.
</code></pre>

<p>ในคอมไพเลอร์ของภาษา C ในปัจจุบันนั้น ข้อมูลประเภท bool นั้นถูกนำออกแล้ว ดังนั้นเพื่อใช้ข้อมูลประเภทนี้ เราต้องทำเข้าไลบรารี่จาก <code>stdbool.h</code> สำหรับการใช้งาน และคอมไพลเลอร์ของคุณสนับสนุนเวอร์ชัน C99 ด้วย อย่างไรก็ตามมีหลายวิธีที่จะ Implement ข้อมูลประเภท bool ถ้าหากคุณใช้บ่อยๆ ในโปรแกรม หรือสามารถใช้ข้อมูลประเภท Integer แทนได้</p>

<h2>Char ตัวอักษร</h2>

<p>Char เป็นประเภทข้อมูลที่ใช้สำหรับเก็บตัวอักษรจำนวนหนึ่งตัวอักษรใน ASCII ภาษา C นั้นยังไม่ได้สนับสนุนการเก็บข้อมูลแบบ String แต่คุณสามารถทำแบบนั้นได้ โดยการใช้ Char array เพื่อเก็บตัวอักษรที่ต่อกันหลายตัว มาดูตัวอย่างการใช้งานตัวแปรประเภท <code>char</code> ในภาษา C</p>

<pre><code class="language-c">#include &lt;stdio.h&gt;

int main()
{
    char n = 'A';
    printf("%c\n", n);
    printf("%d\n", n);

    char *name = "marcuscode";
    printf("%s", name);

    char extension[] = ".com";
    printf("%s", extension);

    return 0;
}
</code></pre>

<p>ในตัวอย่าง เป็นการประกาศตัวแปรประเภท <code>char</code> โดยการเก็บตัวอักษร <code>'A'</code> ตัวอักษรทุกตัวนั้นมีรหัส ASCII ของมันในฐาน 10 ในภาษา C นั้นข้อมูลประเภท Char และ Integer สามารถแปลงค่าได้โดยวิธี implicit และ Explicit type casting ยกตัวอย่างเช่น เมื่อเราต้องการค่าที่หมายถึง A และสามารถใช้ 65 แทนได้ดังตัวอย่างข้างล่าง</p>

<pre><code class="language-c">char a = 65; // A
int b = 'A'; // 65
</code></pre>

<p>เราสามารถเก็บตัวอักษรที่มากกว่าหนึ่งตัวอักษรได้ โดยเราเรียกว่าอาเรย์ หรือ Array of char ซึ่งสามารถสร้างได้ทั้งในรูปแบบของอาเรย์ปกติและพอยน์เตอร์ นี่เป็นผลลัพธ์การทำงานของโปรแกรมในการใช้งานข้อมูลประเภท Char และ Char อาเรย์</p>

<pre class="code-result"><code class="language-result">A
65
marcuscode.com
</code></pre>

<h2>Integer ตัวเลขจำนวนเต็ม</h2>

<p>Integer เป็นประเภทข้อมูลแบบจำนวนเต็ม ซึ่งข้อมูลแบบ Integer นั้นจะประกอบไปด้วยหลายขนาด เช่น <code>short</code> <code>int</code> และ <code>long</code> ซึ่งจะเก็บข้อมูลในระยะที่แตกต่างกัน เรามักจะใช้ตัวแปรประเภท Integer สำหรับเก็บข้อมูลที่นับได้ เช่น จำนวนของผลไม้ในตระกร้า จำนวนของคนในห้อง จำนวนของรถที่วิ่งบนท้องถนน เป็นต้น มาดูตัวอย่างการใช้งานตัวแปรประเภท Integer ในภาษา C</p>

<pre><code class="language-c">#include &lt;stdio.h&gt;

int main()
{
    int apple = 3;
    int orange = 2;
    int total = apple + orange;

    printf("%d apples and %d oranges\n", apple, orange);
    printf("I have %d fruits in total", total);

    return 0;
}
</code></pre>

<p>ในตัวอย่าง เป็นการใช้งานตัวแปรประเภท Integer สำหรับเก็บจำนวนของผลไม้แต่ละชนิด และหาผลรวมของผลไม้ทั้งสองในตัวแปร <code>total</code> ต่อไปเราจะพูดเกี่ยวกับค่ามากสุดและค่าน้อยสุดของข้อมูลประเภท Integer ในภาษา C ข้างล่างนี้เป็นตัวอย่างของโปรแกรม</p>

<pre><code class="language-c">#include &lt;stdio.h&gt;
#include &lt;limits.h&gt;

int main()
{
    printf("Maximum value of int: %d\n", INT_MAX);
    printf("Minimum  value of int: %d\n", INT_MIN);

    int a = INT_MAX;
    printf("%d\n", a);
    a = a + 1;
    printf("%d\n", a);

    return 0;
}
</code></pre>

<p>ในตัวอย่าง เป็นโปรแกรมในการแสดงค่ามากสุดและค่าน้อยสุดของข้อมูลประเภท Integer โดยใช้ค่าคงที่ <code>INT_MAX</code> และ <code>INT_MIN</code> ซึ่งเป็นค่าที่กำหนดโดย Marco ที่อยู่ในไลบรารี่ <code>limits.h</code> ของภาษา C และเราทดสอบการทำงานของโปรแกรมโดยการกำหนดค่ามากสุดให้กับตัวแปร <code>a</code> และเพิ่มค่าของตัวแปรขึ้นไป 1 ผลลัพธ์ที่ได้คือค่าในตัวแปรนั้นเกิด Overflow และเป็นที่น้อยที่สุดของ Integer ซึ่งจะได้ผลลัพธ์ตามข้างล่าง</p>

<pre class="code-result"><code class="language-result">Maximum value of int: 2147483647
Minimum value of int: -2147483648
2147483647
-2147483648
</code></pre>

<h2>Floating-point numbers ตัวเลขจำนวนจริง</h2>

<p>Floating-point number เป็นประเภทข้อมูลสำหรับเก็บตัวเลขจำนวนจริง ในภาษา C จะมีอยู่สองประเภทคือ <code>float</code> และ <code>double</code> สิ่งที่แตกต่างกันคือขนาดของพื้นที่ที่ใช้ในการจัดเก็บ และข้อมูลประเภท <code>double</code> นั้นจะเก็บจำนวนของทศนิยมได้มากกว่า ข้อมูลประเภทนี้จะใช้เก็บข้อมูลที่มีค่าเป็นเศษส่วนหรือตัวเลขที่มีเลขหลังจุดทศนิยม ยกตัวอย่างเช่น ข้อมูลการคำนวณทางวิทยาศาสตร์ เป็นต้น มาดูตัวอย่างการประกาศตัวแปรและใช้งาน</p>

<pre><code class="language-c">#include &lt;stdio.h&gt;

int main()
{
    float pi = 3.14f;
    float half = 3 / 2.0f;
    float half2 = 3 / 2;

    printf("Pi: %f\n", pi);
    printf("Half of 3: %f\n", half);
    printf("Half of 3: %f\n", half2);

    double gravity = 9.807;
    double earth_mass = 5.972E24;
    double meter = 1E-3;

    printf("Earth gravity: %lf m/s^2\n", gravity);
    printf("Earth mass: %lf kg\n", earth_mass);
    printf("1 centimeter: %lf meter\n", meter);
    return 0;
}
</code></pre>

<p>ในตัวอย่าง เป็นการใช้งานตัวแปรสำหรับเก็บข้อมูลในรูปแบบของทศนิยมทั้งตัวแปรประเภท <code>float</code> และ <code>double</code> ในส่วนแรกเราได้ประกาศตัวแปร <code>float</code> จำนวนสามตัวและกำหนดค่าให้กับตัวแปร ค่าของข้อมูลประเภท <code>float</code> นั้นจะลงท้ายด้วย <code>f</code> หรือ <code>F</code> เสมอ</p>

<pre><code class="language-c">float half = 3 / 2.0f;
float half2 = 3 / 2;
</code></pre>

<p>ต่อมาเป็นการทดสอบการหารตัวเลขในตัวแปร <code>half</code> และ <code>half2</code> เพื่อให้คุณเข้าใจและเห็นความแตกต่างของสิ่งที่เกิดขึ้น การคูณหรือการหารตัวเลขในภาษา C นั้นจะได้ผลลัพธ์เป็น Integer ถ้าหากตัวเลขทั้งสองตัวนั้นเป็นประเภท Integer เหมือนในตัวแปร <code>half2</code> ถ้าหากมีตัวแปรอย่างน้อยหนึ่งตัวแปรที่เป็น <code>float</code> หรือ <code>double</code> จะได้ข้อมูลเป็น <code>float</code> หรือ <code>double</code> นี่จึงเป็นสิ่งที่ต้องควรระวังในการเขียนโปรแกรม</p>

<pre><code class="language-c">double gravity = 9.807;
double earth_mass = 5.972E24;
double meter = 1E-3;
</code></pre>

<p>สามตัวแปรต่อมาเป็นการประกาศตัวแปรประเภท <code>double</code> สำหรับตัวแปรทั้งสองประเภทนั้นสามารถประกาศในรูปแบบสัญกรณ์วิทยาศาสตร์ได้ เช่นในตัวอย่างในตัวแปร <code>earth_mass</code> เป็นการกำหนดค่าแบบย่อซึ่งมีค่าเท่ากับ <code>5.972 x 10^24</code> และในตัวแปร <code>meter</code> นั้นมีค่าเท่ากับ <code>1 x 10^-3</code></p>

<pre class="code-result"><code class="language-result">Pi: 3.140000
Half of 3: 1.500000
Half of 3: 1.000000
Earth gravity: 9.807000 m/s^2
Earth mass: 5972000000000000300000000.000000 kg
1 centimeter: 0.001000 meter
</code></pre>

<p>นี่เป็นผลลัพธ์ของโปรแกรมในการทำงานกับประเภทข้อมูลแบบทศนิยมในภาษา C ด้วยตัวแปรแบบ <code>float</code> และ <code>double</code></p>

<p>ในบทนี้ คุณได้เรียนรู้เกี่ยวกับการประกาศและใช้งานตัวแปรในภาษา C และได้รู้จักประเภทข้อมูลชนิดต่างๆ ซึ่งใช้ในการเก็บข้อมูลที่แตกต่างกันในการเขียนโปรแกรม</p>
		
	</div>
	<!-- /.blog-post -->


</body>
</html>